---
title: FAQ (Häufig gestellte Fragen)
---
<h1 id="was ist der CCC CH"><a href="#was ist der CCC CH">Was ist der „Chaos Computer Club Schweiz?“</a></h1>

<p>Bisher wurde in den verschiedenen Chaostreffs (lokale Gruppen im Sinne des CCC) in der
  Schweiz wesentlich lokal beschränkt agiert; gemeinsame und schweizweite Anliegen wie
  Vernehmlassungen mit IT- und Netzbezug konnten nur ungenügend in Angriff genommen
  werden oder mussten vom Chaos Computer Club Zürich (CCCZH), der eigentlich für
  regionale Anliegen zuständig ist, bearbeitet werden.</p>

<p>Deshalb soll der Zusammenschluss zum Chaos Computer Club Schweiz die gemeinsamen
  Kräfte bündeln, um auch gesamtgesellschaftliche Probleme wie Vorratsdatenspeicherung,
  Zensur und Kontrolle im Netz oder andere wichtige Bürgerrechtsfragen im
  digitalen Raum anzugehen. Zudem sollen andere interessierte Personen, die
  Presse sowie weitere Gruppen der schweizerischen Zivilgesellschaft einen
  Ansprechpartner in der alternativen IT-Szene erhalten. So kann auch das positive
  Anliegen der Hacker in der Öffentlichkeit besser vertreten werden.</p>

<p>Der CCC Schweiz soll aber die Arbeit in den lokalen Gruppen nicht ersetzen,
  sondern nur ergänzen. In den Chaostreffs soll auch weiterhin der kreativ-kritische
  Umgang mit Technologien direkt gelebt und diskutiert werden.</p>

<p>Die Bestrebungen, einen CCC-CH zu gründen, gibt es schon seit langem - in
  konkreter Form seit etwa 18 Monaten. In dieser Zeit wurden Statuten erarbeitet
  und die Grundlage für eine gemeinsame Arbeit geschaffen.</p>

<p>Gegen Ende der 1980er Jahren gab es bereits eine Gruppierung, die sich als
  CCC Schweiz verstanden hat, doch hat sich diese nie formal gegründet und war
  öffentlich nicht weiter aktiv. Der CCC Zürich als Verein besteht seit dem
  Jahr 2005, im Raum Basel treffen sich Interessierte im Chaostreff seit etwa
  dem Jahr 2000. In jüngerer Zeit sind auch Chaostreffs in Bern (Ostermundigen) oder
  St. Gallen entstanden.</p>


<h1 id="politische Projekte"><a href="#politische Projekte">Welches sind die wichtigsten politischen Projekte, für die sich der Chaos Computer Club Schweiz einsetzt (oder eingesetzt hat)?</a></h1>

<p>Die politische Arbeit des CCC Schweiz wird durch zwei Maximen geleitet werden:
  Informationsfreiheit und informationelle Selbstbestimmung - oder wie es Wau Holland
  der Hackerethik hinzufügte: „Öffentliche Daten nützen, private Daten schützen.“</p>

<p>Unter diesen Punkten lassen sich die wichtigen Aufgaben der nächsten Zeit einordnen:</p>

<p>Im Bereich der Informationsfreiheit geht es zum Beispiel um die Forderung nach
  Transparenz der öffentlichen Verwaltung (im Sinne der „maschinenlesbaren Regierung“)
  und um Zensur und Kontrolle im Netz. Wir fordern grundsätzlich, dass das Internet
  ein von der Wirtschaft und dem Staat unbehelligter/unkontrollierter/unüberwachter
  Raum sein soll, in dem weder Überwachung noch Eigentumsansprüche (Patente, ACTA)
  den ungehinderten Zugang zu Informationen beschränken. Wir verlangen von den
  Netzbetreibern auch die Einhaltung der Netzneutralität, die ein gleiches Internet
  für alle garantiert und in der es keine Mehrklassengesellschaft der Benutzer gibt.</p>

<p>Im Sinne der informationellen Selbstbestimmung wehren wir uns dagegen, dass immer
  mehr Daten auf Vorrat gespeichert werden oder sogar aktiv zusätzliche Instrumente
  zur (inhaltlichen) Überwachung der Bevölkerung (ohne klaren Tatverdacht) zum
  Einsatz kommen - etwa in Form eines „Trojaner Federal“ (in Deutschland: Bundestrojaner)
  oder ähnlicher Spähsoftware. In praktischer Hinsicht fördern wir ebenfalls den
  Einsatz von Kryptographie als Mittel zur digitalen Selbstverteidigung und arbeiten
  dafür mit Organisationen, die ähnliche Ziele verfolgen, eng zusammen.</p>

<p>Zu den grösseren Projekten, in denen Personen der Schweizer Hackerszene
  zusammengearbeitet haben und die nach aussen auch bekannt geworden sind, gehören:</p>

<ul>
  <li>das Projekt <a href="http://biometrische-ausweise.ch">„Biometrische Ausweise,“</a> in dem auf Gefahren in der
    Einführung biometrischer Ausweise hingewiesen wurde.</li>

  <li>das Projekt <a href="http://www.postcard-sicherheit.ch">„Postcard-Sicherheit,“</a> wo auf damalige Sicherheitslücken der Schweizer
    Debitkarte „Postcard“ der PostFinance hingewiesen wurde.</li>

  <li>die Teilnahme an der <a href="http://www.ccczh.ch/V%C3%9CPF-Stellungnahme-CCC und http://www.ejpd.admin.ch/content/dam/data/sicherheit/uepf/ve-organisationen.pdf">Vernehmlassung zur VÜPF</a>, die der die Durchführung der
    Überwachung von Post- und Fernmeldeverkehr in der Schweiz neu gefasst wurde.</li>
</ul>

<p>Aktuell arbeiten wir zusammen mit der <a href="http://www.digitale-gesellschaft.ch/">Digitalen Gesellschaft Schweiz</a> am Thema
  <a href="http://www.digitale-gesellschaft.ch/2012/11/08/meine-vorratsdaten-jetzt/">„Vorratsdatenspeicherung“</a> und versuchen die Leute zu motivieren, bei ihren
  Handy- und Netzprovidern Einsicht in die über sie gespeicherten Daten zu
  verlangen.</p>

<h1 id="wer kann Mitglied werden"><a href="#wer kann Mitglied werden">Wer kann Mitglied im „Chaos Computer Club Schweiz“ werden?</a></h1>

<p>Mitglied kann jeder Chaostreff, Verein oder Gesellschaft in der Schweiz
  werden, die sich den Zielen und Idealen des Chaos Computer Clubs Schweiz
  verpflichtet fühlt und sich für digitale Bürgerrechte und Spass am Gerät einsetzen
  will. Es genügt ein einfacher Mitgliedsantrag an den Vorstand.
  <!-- TODO: (EMail-Adresse: ...., Public key: ....) --></p>

<p>Mitgliedschaften von einzelnen Personen sind nicht vorgesehen. Suche und finde
  Mitstreiter in deiner Umgebung und schliesst euch zu einem Chaostreff zusammen.</p>
