---
title: Impressum
---
<h1>Impressum</h1>

<p>
  Verantwortlich für den Inhalt dieser Seiten ist der <a href="http://ccc-ch.ch/">CCC CH</a>.
  Bei Fragen wenden Sie sich via E-Mail an <a href="mailto:bernd@wauland.de">Bernd R. Fix (bernd@wauland.de)</a>.
</p>

<p>
  Postalisch erreichen Sie uns unter der folgenden Anschrift:
</p>

<p><address>
  Chaos Computer Club Schweiz<br>
  Birsfelderstrasse 6<br>
  4132 Muttenz
</address></p>

