
<div class="well">
  <h1>Gründung CCC-CH</h1>

  <p>
    Am 15. Dezember 2012 gründet sich um 14:00 Uhr auf dem Bundesplatz in Bern
    der <a href="http://ccc-ch.ch/">Chaos Computer Club Schweiz</a> (CCC-CH)!
  </p>
  <p>
    Treffpunkt ist der Hauptbahnhof Bern um 13:00 Uhr. Die Gründung wird um 14:00 Uhr.
    Nach Abschluss der Gründung suchen wir das Lokal <a href="http://www.restaurantbeaulieu.ch/beaulieu/">Beaulieu</a>
    auf.
  </p>
</div>

<h2>Schweizer Hacker organisieren sich im "Chaos Computer Club Schweiz" (CCC-CH)</h2>

<p>
  Seit vielen Jahren finden überall in der Schweiz Menschen jeden Alters
  und Herkunft in sogenannten Chaostreffs und Hackerspaces zusammen, um
  gemeinsam über die sozialen Auswirkungen von Computern und des Internets
  sowie den Gefahren und Möglichkeiten dieser Technik zu diskutieren.
</p>

<p>
  Die Club-Mitglieder setzen sich dabei für informationelle
  Selbstbestimmung (Datenschutz), Informationsfreiheit (Transparenz) sowie
  für ein Recht auf freie und unbehinderte Kommunikation im Internet und
  andere Bürgerrechte im digitalen Raum ein.
</p>

<p>
  Damit die Öffentlichkeit verstärkt auf das positive Anliegen der Hacker
  aufmerksam gemacht werden kann und um die gemeinsamen Interessen der
  Hacker - auch in Kooperation mit anderen Gruppen der Zivilgesellschaft -
  zu fördern, schliessen sich die Hacker-Vereine und -Gruppierungen der
  Schweiz jetzt zu einem gemeinsamen Dachverband zusammen. Zu den
  Gründungsmitgliedern gehören der Chaos Computer Club Zürich sowie die
  Chaostreffs Basel, St. Gallen und Bern (Ostermundingen).
</p>

<p>
  Die Gründung des Verbandes findet am 15. Dezember 2012 um 14 Uhr auf dem
  Bundesplatz in Bern statt. Nach seiner Gründung wird sich der Verband
  erstmalig auf dem "29. Chaos Communication Congress" in Hamburg mit
  einem eigenen Stand präsentieren; auf dem Hacker-Kongress werden
  zwischen Weihnachten und Neujahr über 5'000 Besucher aus der ganzen Welt
  erwartet.
</p>

<h3>Hintergrund-Informationen / Links</h3>

<dl>
  <dt>Chaos Computer Club e.V. (Deutschland):</dt>
  <dd><a href="http://ccc.de">http://ccc.de</a></dd>
  <dd><a href="https://de.wikipedia.org/wiki/Chaos_Computer_Club">https://de.wikipedia.org/wiki/Chaos_Computer_Club</a></dd>

  <dt>Chaos Computer Club Zürich:</dt>
  <dd><a href="http://www.ccczh.ch">http://www.ccczh.ch</a></dd>
  <dd><a href="https://de.wikipedia.org/wiki/CCCZH">https://de.wikipedia.org/wiki/CCCZH</a></dd>

  <dt>Chaostreff Basel:</dt>
  <dd><a href="http://wiki.chaostreff.ch/Chaostreff">http://wiki.chaostreff.ch/Chaostreff</a></dd>

  <dt>Chaostreff St.Gallen:</dt>
  <dd><a href="http://ruum42.ch/">http://ruum42.ch/</a></dd>

  <dt>Chaostreff Bern:</dt>
  <dd><a href="http://www.eastermundigen.ch/">http://www.eastermundigen.ch/</a></dd>
</dl>

