<h1>Pressespiegel</h1>

<h2>12.6.2013</h2>
<ul>
<li><a href="http://www.20min.ch/digital/news/story/Diese-Download-Sites-sollen-offline-gehen-10691729">http://www.20min.ch/digital/news/story/Diese-Download-Sites-sollen-offline-gehen-10691729</a></li>
<li><a href="http://www.heise.de/newsticker/meldung/Schweizer-Unterhaltungsindustrie-wuenscht-sich-Websperren-1886930.html">http://www.heise.de/newsticker/meldung/Schweizer-Unterhaltungsindustrie-wuenscht-sich-Websperren-1886930.html</a></li>
<li><a href="http://www.pctipp.ch/tipps-tricks/kummerkasten/internet/artikel/nicht-vertrauenswuerdige-https-seiten-68564/">http://www.pctipp.ch/tipps-tricks/kummerkasten/internet/artikel/nicht-vertrauenswuerdige-https-seiten-68564/</a></li>
 <li><a href="http://www.tweakpc.de/news/27967/ccczh-veroeffentlicht-linksammlung-zu-bittorrent-und-streaming-webseiten/">http://www.tweakpc.de/news/27967/ccczh-veroeffentlicht-linksammlung-zu-bittorrent-und-streaming-webseiten/</a></li>
</ul>

<h2>11.6.2013</h2>
<ul>
<li><a href="http://www.info8.ch/online/internet/1549-zensur-in-der-schweizer-providerlandschaft.html">http://www.info8.ch/online/internet/1549-zensur-in-der-schweizer-providerlandschaft.html</a></li>
</ul>

<h2>10.6.2013</h2>
<ul>
<li><a href="http://www.anonnewsde.org/2013/06/urheberrecht-in-der-schweiz-ccc-veroeffentlicht-liste-zu-sperrender-internetseiten/">http://www.anonnewsde.org/2013/06/urheberrecht-in-der-schweiz-ccc-veroeffentlicht-liste-zu-sperrender-internetseiten/</a></li>
<li><a href="http://www.golem.de/news/urheberrecht-schweizer-rechteinhaber-wollen-websites-sperren-1306-99715.html">http://www.golem.de/news/urheberrecht-schweizer-rechteinhaber-wollen-websites-sperren-1306-99715.html</a></li>
<li><a href="https://netzpolitik.org/2013/urheberrecht-in-der-schweiz-ccc-zurich-veroffentlicht-liste-zu-sperrender-internetseiten/">https://netzpolitik.org/2013/urheberrecht-in-der-schweiz-ccc-zurich-veroffentlicht-liste-zu-sperrender-internetseiten/</a></li>
<li><a href="http://secondlitart.wordpress.com/2013/06/10/schweizer-wollen-websites-sperren/">http://secondlitart.wordpress.com/2013/06/10/schweizer-wollen-websites-sperren/</a></li>
</ul>

<h2>9.6.2013</h2>
<ul>
<li><a href="http://www.gulli.com/news/21715-schweizer-piratenjaeger-fordern-sperrlisten-und-schaerfere-gesetze-2013-06-09">http://www.gulli.com/news/21715-schweizer-piratenjaeger-fordern-sperrlisten-und-schaerfere-gesetze-2013-06-09</a></li>
<li><a href="https://www.torial.com/lars.sobiraj/portfolio/4516">https://www.torial.com/lars.sobiraj/portfolio/4516</a></li>
</ul>

<h2>7.6.2013</h2>
<ul>
<li><a href="http://www.andreasvongunten.com/blog/2013/6/7/absurde-und-unverschamte-sperrliste-der-content-industrie.html">http://www.andreasvongunten.com/blog/2013/6/7/absurde-und-unverschamte-sperrliste-der-content-industrie.html</a></li>
<li><a href="http://www.digitale-gesellschaft.ch/2013/06/07/ccczh-veroffentlicht-wunschsperrliste-der-contentmafia/">http://www.digitale-gesellschaft.ch/2013/06/07/ccczh-veroffentlicht-wunschsperrliste-der-contentmafia/</a></li>
</ul>


<h2>15.12.2012</h2>
<ul>
  <li><a href="http://facts.ch/articles/8546397-chaos-computer-club-schweiz-gegrundet">http://facts.ch/articles/8546397-chaos-computer-club-schweiz-gegrundet</a></li>
  <li><a href="http://wissen.dradio.de/nachrichten.59.de.html?drn:news_id=169809">http://wissen.dradio.de/nachrichten.59.de.html?drn:news_id=169809</a></li>
  <li><a href="http://www.ad-hoc-news.de/der-chaos-computer-club-schweiz-ist-nun-offiziell--/de/News/24839001">http://www.ad-hoc-news.de/der-chaos-computer-club-schweiz-ist-nun-offiziell--/de/News/24839001</a></li>
  <li><a href="http://www.computerbase.de/news/2012-12/schweizer-chaos-computer-club-gegruendet/">http://www.computerbase.de/news/2012-12/schweizer-chaos-computer-club-gegruendet/</a></li>
  <li><a href="http://www.heise.de/newsticker/meldung/Schweizer-Chaos-Computer-Club-gegruendet-1769950.html">http://www.heise.de/newsticker/meldung/Schweizer-Chaos-Computer-Club-gegruendet-1769950.html</a></li>
  <li><a href="http://www.gizmodo.de/2012/12/16/schweizer-internet-freaks-grunden-eigenen-ableger-des-ccc.html">http://www.gizmodo.de/2012/12/16/schweizer-internet-freaks-grunden-eigenen-ableger-des-ccc.html</a></li>
  <li><a href="http://www.golem.de/news/wir-sind-die-guten-chaos-computer-club-schweiz-gegruendet-1212-96384.html">http://www.golem.de/news/wir-sind-die-guten-chaos-computer-club-schweiz-gegruendet-1212-96384.html</a></li>
  <li><a href="http://www.gulli.com/news/20487-chaos-computer-club-schweiz-offiziell-gegruendet-2012-12-16">http://www.gulli.com/news/20487-chaos-computer-club-schweiz-offiziell-gegruendet-2012-12-16</a></li>
  <li><a href="http://www.virato.de/article/1243910-chaos-computer-club-schweiz-offiziell-gegrundet/">http://www.virato.de/article/1243910-chaos-computer-club-schweiz-offiziell-gegrundet/</a></li>
</ul>


<h2>10.12.2012</h2>

<ul>
  <li><a href="http://8730.ex.suedostschweiz.ch/politik/schweizer-hacker-gruenden-chaos-computer-club-schweiz">http://8730.ex.suedostschweiz.ch/politik/schweizer-hacker-gruenden-chaos-computer-club-schweiz</a></li>
  <li><a href="http://bazonline.ch/digital/internet/Schweizer-Hacker-formieren-sich/story/10904741">http://bazonline.ch/digital/internet/Schweizer-Hacker-formieren-sich/story/10904741</a></li>
  <li><a href="http://facts.ch/articles/8519276-hacker-grunden-chaos-computer-club-schweiz">http://facts.ch/articles/8519276-hacker-grunden-chaos-computer-club-schweiz</a></li>
  <li><a href="http://www.macprime.ch/news/article/chaos-computer-club-schweiz-entsteht">http://www.macprime.ch/news/article/chaos-computer-club-schweiz-entsteht</a></li>
  <li><a href="http://feldwaldwiesenblog.blueblog.ch/20121212">http://feldwaldwiesenblog.blueblog.ch/20121212</a></li>
  <li><a href="http://newsburger.de/hacker-wollen-chaos-computer-club-gruenden-57952.html">http://newsburger.de/hacker-wollen-chaos-computer-club-gruenden-57952.html</a></li>
  <li><a href="http://scratchbook.ch/2012/12/10/chaos-computer-club-fur-die-schweiz/">http://scratchbook.ch/2012/12/10/chaos-computer-club-fur-die-schweiz/</a></li>
  <li><a href="http://storyspots.ch/?p=197362">http://storyspots.ch/?p=197362</a></li>
  <li><a href="http://tt.bernerzeitung.ch/digital/internet/Schweizer-Hacker-formieren-sich/story/10904741">http://tt.bernerzeitung.ch/digital/internet/Schweizer-Hacker-formieren-sich/story/10904741</a></li>
  <li><a href="http://www.20min.ch/digital/news/story/11660228">http://www.20min.ch/digital/news/story/11660228</a></li>
  <li><a href="http://www.20min.ch/digital/news/story/-Wir-legen-nicht-aus-Spass-Websites-lahm--23391386">http://www.20min.ch/digital/news/story/-Wir-legen-nicht-aus-Spass-Websites-lahm--23391386</a></li>
  <li><a href="http://www.aargauerzeitung.ch/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-125768130">http://www.aargauerzeitung.ch/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-125768130</a></li>
  <li><a href="http://www.appenzellerzeitung.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354">http://www.appenzellerzeitung.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354</a></li>
  <li><a href="http://www.bielertagblatt.ch/nachrichten/schweiz/schweizer-hacker-gruenden-chaos-computer-club-schweiz">http://www.bielertagblatt.ch/nachrichten/schweiz/schweizer-hacker-gruenden-chaos-computer-club-schweiz</a></li>
  <li><a href="http://www.blick.ch/news/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-id2135262.html">http://www.blick.ch/news/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-id2135262.html</a></li>
  <li><a href="http://www.bote.ch/politik/schweizer-hacker-gruenden-chaos-computer-club-schweiz?prev=schweiz">http://www.bote.ch/politik/schweizer-hacker-gruenden-chaos-computer-club-schweiz?prev=schweiz</a></li>
  <li><a href="http://www.bzbasel.ch/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-125768130">http://www.bzbasel.ch/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-125768130</a></li>
  <li><a href="http://www.cash.ch/news/alle-news/schweizer_hacker_gruenden_chaos_computer_club_schweiz-1247404-448">http://www.cash.ch/news/alle-news/schweizer_hacker_gruenden_chaos_computer_club_schweiz-1247404-448</a></li>
  <li><a href="http://www.cdt.ch/confederazione/cronaca/74619/gli-hacker-svizzeri-si-uniscono.html">http://www.cdt.ch/confederazione/cronaca/74619/gli-hacker-svizzeri-si-uniscono.html</a></li>
  <li><a href="http://www.computerworld.ch/news/kommunikation/artikel/schweizer-hacker-vereinen-sich-62041/">http://www.computerworld.ch/news/kommunikation/artikel/schweizer-hacker-vereinen-sich-62041/</a></li>
  <li><a href="http://www.derbund.ch/digital/internet/Schweizer-Hacker-formieren-sich/story/10904741">http://www.derbund.ch/digital/internet/Schweizer-Hacker-formieren-sich/story/10904741</a></li>
  <li><a href="http://www.extremnews.com/nachrichten/computer/65881431e26c138">http://www.extremnews.com/nachrichten/computer/65881431e26c138</a></li>
  <li><a href="http://www.finanzen100.de/nachrichten/artikel/hacker-gruenden-chaos-computer-club-schweiz_H80380852_2-1-6434822361826209819/">http://www.finanzen100.de/nachrichten/artikel/hacker-gruenden-chaos-computer-club-schweiz_H80380852_2-1-6434822361826209819/</a></li>
  <li><a href="http://www.freiburger-nachrichten.ch/schweiz/schweizer-hacker-gruenden-chaos-computer-club-schweiz">http://www.freiburger-nachrichten.ch/schweiz/schweizer-hacker-gruenden-chaos-computer-club-schweiz</a></li>
  <li><a href="https://www.gmx.net/themen/schweiz/politik/26a0kt2-hacker-vereinigen">https://www.gmx.net/themen/schweiz/politik/26a0kt2-hacker-vereinigen</a></li>
  <li><a href="http://www.grenchnertagblatt.ch/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-125768130">http://www.grenchnertagblatt.ch/wirtschaft/schweizer-hacker-gruenden-chaos-computer-club-schweiz-125768130</a></li>
  <li><a href="http://www.gulli.com/news/20449-hacker-gruenden-chaos-computer-club-schweiz-2012-12-11">http://www.gulli.com/news/20449-hacker-gruenden-chaos-computer-club-schweiz-2012-12-11</a></li>
  <li><a href="http://www.heise.de/newsticker/meldung/Eidgenoessische-Hacker-wollen-Schweizer-CCC-gruenden-1765309.html">http://www.heise.de/newsticker/meldung/Eidgenoessische-Hacker-wollen-Schweizer-CCC-gruenden-1765309.html</a></li>
  <li><a href="http://www.hoefner.ch/index.cfm?ressort=home&source=sda&id=125676">http://www.hoefner.ch/index.cfm?ressort=home&source=sda&id=125676</a></li>
  <li><a href="http://www.inar.de/schweizer-hacker-wollen-chaos-computer-club-grunden/">http://www.inar.de/schweizer-hacker-wollen-chaos-computer-club-grunden/</a></li>
  <li><a href="http://www.inside-it.ch/articles/31036">http://www.inside-it.ch/articles/31036</a></li>
  <li><a href="http://www.itmagazine.ch/Artikel/51675/Schweizer_Chaos_Computer_Club_vor_Gruendung.html">http://www.itmagazine.ch/Artikel/51675/Schweizer_Chaos_Computer_Club_vor_Gruendung.html</a></li>
  <li><a href="http://www.itreseller.ch/Artikel/71812/Schweizer_Chaos_Computer_Club_vor_Gruendung.html">http://www.itreseller.ch/Artikel/71812/Schweizer_Chaos_Computer_Club_vor_Gruendung.html</a></li>
  <li><a href="http://www.lematin.ch/high-tech/Les-hackers-suisses-se-federent/story/11880065">http://www.lematin.ch/high-tech/Les-hackers-suisses-se-federent/story/11880065</a></li>
  <li><a href="http://www.luzernerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284">http://www.luzernerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284</a></li>
  <li><a href="http://www.macprime.ch/news/article/chaos-computer-club-schweiz-entsteht">http://www.macprime.ch/news/article/chaos-computer-club-schweiz-entsteht</a></li>
  <li><a href="http://www.marchanzeiger.ch/index.cfm?ressort=home&source=sda&id=125676">http://www.marchanzeiger.ch/index.cfm?ressort=home&source=sda&id=125676</a></li>
  <li><a href="http://www.nachrichten.ch/detail/567393.htm">http://www.nachrichten.ch/detail/567393.htm</a></li>
  <li><a href="http://www.netzwoche.ch/de-CH/News/2012/12/11/Hacker-gruenden-den-Chaos-Computer-Club-Schweiz.aspx">http://www.netzwoche.ch/de-CH/News/2012/12/11/Hacker-gruenden-den-Chaos-Computer-Club-Schweiz.aspx</a></li>
  <li><a href="http://www.news.ch/Hacker+gruenden+Chaos+Computer+Club+Schweiz/567393/detail.htm">http://www.news.ch/Hacker+gruenden+Chaos+Computer+Club+Schweiz/567393/detail.htm</a></li>
  <li><a href="http://www.nidwaldnerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284">http://www.nidwaldnerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284</a></li>
  <li><a href="http://www.nzz.ch/aktuell/digital/ccc-ch-1.17881339">http://www.nzz.ch/aktuell/digital/ccc-ch-1.17881339</a></li>
  <li><a href="http://www.pcte.ch/it-news/downloads-europa/55217-schweizer-hacker-gr%C3%BCnden-chaos-computer-club.html">http://www.pcte.ch/it-news/downloads-europa/55217-schweizer-hacker-gr%C3%BCnden-chaos-computer-club.html</a></li>
  <li><a href="http://www.pctipp.ch/news/gesellschaft/65632/schweizer_hacker_gruenden_chaos_computer_club.html">http://www.pctipp.ch/news/gesellschaft/65632/schweizer_hacker_gruenden_chaos_computer_club.html</a></li>
  <li><a href="http://www.persoenlich.com/news/show_news.cfm?newsid=105617">http://www.persoenlich.com/news/show_news.cfm?newsid=105617</a></li>
  <li><a href="http://www.radio24.ch/info24/digital/Schweizer-Hacker-formieren-sich/story/10904741">http://www.radio24.ch/info24/digital/Schweizer-Hacker-formieren-sich/story/10904741</a></li>
  <li><a href="http://www.rheintaler.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354">http://www.rheintaler.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354</a></li>
  <li><a href="http://www.sonntagszeitung.ch/home/artikel-detailseite-sda/?newsid=237640">http://www.sonntagszeitung.ch/home/artikel-detailseite-sda/?newsid=237640</a></li>
  <li><a href="http://www.swissinfo.ch/ger/news/newsticker/international/Schweizer_Hacker_gruenden_Chaos_Computer_Club_Schweiz.html?cid=34149548">http://www.swissinfo.ch/ger/news/newsticker/international/Schweizer_Hacker_gruenden_Chaos_Computer_Club_Schweiz.html?cid=34149548</a></li>
  <li><a href="http://www.tagblatt.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354">http://www.tagblatt.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354</a></li>
  <li><a href="http://www.tagesanzeiger.ch/digital/internet/Schweizer-Hacker-schliessen-sich-zusammen/story/10904741">http://www.tagesanzeiger.ch/digital/internet/Schweizer-Hacker-schliessen-sich-zusammen/story/10904741</a></li>
  <li><a href="http://www.thurgauerzeitung.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354">http://www.thurgauerzeitung.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354</a></li>
  <li><a href="http://www.ticinonews.ch/articolo.aspx?id=283364&rubrica=25">http://www.ticinonews.ch/articolo.aspx?id=283364&rubrica=25</a></li>
  <li><a href="http://www.toggenburgertagblatt.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354">http://www.toggenburgertagblatt.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354</a></li>
  <li><a href="http://www.urnerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284">http://www.urnerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284</a></li>
  <li><a href="http://www.vaterland.li/index.cfm?ressort=home&source=sda&id=125676">http://www.vaterland.li/index.cfm?ressort=home&source=sda&id=125676</a></li>
  <li><a href="http://www.volksblatt.li/nachricht.aspx?id=164540&src=sda">http://www.volksblatt.li/nachricht.aspx?id=164540&src=sda</a></li>
  <li><a href="http://www.wilerzeitung.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354">http://www.wilerzeitung.ch/aktuell/panorama/panorama/Schweizer-Hacker-schliessen-sich-zusammen;art253654,3231354</a></li>
  <li><a href="http://www.zugerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284">http://www.zugerzeitung.ch/nachrichten/wirtschaft/wirtschaft-sda/Schweizer-Hacker-schliessen-sich-zusammen;art46442,218284</a></li>
</ul>


