<h1>Gründungsprotokoll CCC CH vom 15. Dezember2012</h1>

<h2>Ort, Zeit</h2>
<dl>
  <dt>Ort</dt>
  <dd>Bundesplatz Bern / Restaurant Beaulieu, Erlachstrasse 3, 3012 Bern</dd>

  <dt>Datum, Zeit</dt>
  <dd>Sa, 15. Dezember 2012, ~14:00-16:10 (mit Unterbruch zum Restaurant hin)</dd>
</dl>

<h2>Gründungsmitglieder</h2>

<dl>
  <dt>Basel</dt>
  <dd>Chaostreff Basel (Miguel, Genesis). URL: <a href="https://wiki.chaostreff.ch/">https://wiki.chaostreff.ch/</a></dd>

  <dt>Bern</dt>
  <dd>Hackerspace Eastermundigen (vimja, draemmli). URL: <a href="http://eastermundigen.ch/">http://eastermundigen.ch/</a></dd>

  <dt>Freiburg/Fribourg</dt>
  <dd>Hackburg (Ianfas, rubba). URL: <a href="https://www.hackburg.ch/">https://www.hackburg.ch/</a></dd>

  <dt>St. Gallen</dt>
  <dd>Ruum42 (Wene, Leandra). URL: <a href="http://www.ruum42.ch/">http://www.ruum42.ch/</a></dd>

  <dt>Zürich</dt>
  <dd>CCCZH (Bernd, hernani). URL: <a href="https://www.ccczh.ch/">https://www.ccczh.ch/</a></dd>
</dl>

<h2>Gründungsgäste</h2>

<dl>
  <dt>CCCZH</dt>
  <dd>Zusätzlich zu den Delegierten: Ari, leviathan, Marc, N, peponi, Steffen, Silicium, Adi u. a.</dd>

  <dt>Chaostreff Basel</dt>
  <dd>Zusätzlich zu den Delegierten: seto, tonnerre, folken, juliane, cjk, daniela u. a.)</dd>

  <dt>Chaostreff Winterthur in Gründung</dt>
  <dd>Volker Birk</dd>

  <dt>Hackburg</dt>
  <dd>einige Personen</dd>

  <dt>Ruum42</dt>
  <dd>einige Personen</dd>

  <dt>Piratenpartei Schweiz</dt>
  <dd>einige Personen</dd>

  <dt>Swiss Privacy Foundation</dt>
  <dd>mind. eine Person</dd>
</dl>

<p>Insgesamt sind mindestens 42 Personen anwesend.</p>

<h2>Begrüssung die Erste, am Bundesplatz (ca. 14:00 Uhr)</h2>
<p>Gemäss Statuten vertreten je zwei Delegierte einen Hackerspace. Bereits auf dem Bundesplatz wird festgestellt, dass von allen Gründungshackerspaces Delegierte (und Gäste) anwesend sind.</p>

<p>Nach einer kurzen Ansprache seitens Miguel (Chaostreff Basel), darüber, dass wir uns auf dem Bundesplatz treffen würden, nicht zuletzt um Politikern symbolisch zu deuten, sie könnten dank uns „informiertere Entscheidungen” treffen, machen wir uns auf zum Restaurant Beaulieu.</p>

<h2>Begrüssung die Zweite, im Restaurant Beaulieu (14:59)</h2>
<p>Miguel (Chaostreff Basel) hält an einem Tisch Ansprache darüber, dass wir im Begriff sind den CCC-CH in formaler Hinsicht zu gründen. Wir schauen uns um: Es sind 10 Delegierte (je 2 Basel, Bern, Fribourg, St. Gallen und Zürich) anwesend.</p>

<h2>Statuten</h2>
<p>Miguel (Chaostreff Basel) verteilt die Statuten. Alle Hackerspaces nehmen die Statuten im Konsens an.</p>

<p>Ab sofort entschiedet die Chaosversammlung, bestehend aus den zehn Delegierten der fünf Hackerspaces.</p>

<h2>Wahl Vorstand</h2>
<p>Ari (CCCZH) erwähnt Vorstandsposten nach Funktion, die denkbar wären:</p>

<ul>
  <li>Interne Kommunkation</li>
  <li>Schrift-/Protokollführung / Aktuariat</li>
  <li>Presse- und Öffentlichkeitsarbeit</li>
  <li>Externe Kommunikation / evtl. Öffentlichkeitsarbeit</li>
  <li>Quästor / Finanzen</li>
  <li>Technik</li>
  <li>Archivierung</li>
  <li>(Volks-)Bildung</li>
  <li>Projekte</li>
</ul>

<p>Klar ist allen, dass der Vorstand sich selber konsituiert und genaue Aufgaben noch definiert werden können und müssen, respektive sich (dynamisch) ohnehin ergeben.</p>

<p>hernani (CCCZH) möchte, dass alle, die sich für den Vorstand gemeldet haben, kollektiv in den Vorstand gehievt werden.</p>

<p>Bei nur zwei gegen acht Stimmen lehnt die Chaosversammlung die kollektive Wahl des Vorstands ab. Wir wählen die Vorstandsmitglieder somit auf Einzelbasis.</p>

<p>Miguel (Chaostreff Basel) fragt in die Runde, ob die Vorstandswahlen geheim oder offen abzuhalten sind. Die Delegierten sind sich rundum einig: Wir stimmen offen ab.</p>

<h3>Bernd (CCCZH)</h3>
<p>Bernd (CCCZH) stellt sich kurz vor: Er ist aktiv im CCC seit 1984. Er will im CCC-CH Presse- und Öffentlichkeitsarbeit übernehmen.</p>
<p>Abstimmung: Erfolgreiche Wahl bei neun Ja-Stimmen, zu einer (eigenen) Enthaltung</p>

<h3>hernani (CCCZH)</h3>
<p>hernani (CCCZH) könnte sich vorstellen die Protokollführung zu übernehmen, wie so manchenorts auch schon. Ausserdem kann er Vernetzungsarbeit in die Romandie leisten.</p>

<p>Abstimmung: Erfolgreiche Wahl bei neun Ja-Stimmen, zu einer (eigenen) Nein-Stimme</p>

<h3>leviathan (CCCZH)</h3>
<p>leviathan (CCCZH) betont, dass es ein Manko beim CCC gibt und zwar: Projekte würden schlecht bzw. nicht einheitlich dokumentiert. Er möchte sich als (eine Art) Archivar betätigen und alle (dezentralen) Projekte zentral (informationell) zusammenfassen.</p>

<p>Abstimmung: Erfolgreiche Wahl bei sieben Ja-Stimmen, zu einer Nein-Stimme und zwei Enthaltungen</p>

<h3>Genesis (Chaostreff Basel)</h3>
<p>Genesis (Chaostreff Basel) stellt sich vor Finanzen zu machen. Er ist seit den 1990ern im CCC aktiv.</p>

<p>Abstimmung: Erfolgreiche Wahl im Konsens</p>

<h3>Miguel (Chaostreff Basel)</h3>
<p>Miguel (Chaostreff Basel) stellt sich vor, die technische Leitung vom CCC Schweiz zu übernehmen. Dazu würde gehören, dass die Technik über Hackerspacegrenzen hinweg funktioniert. Auch im Bereich der Veranstaltungsleitung und -organisation hat er einige Erfahrung vorzuweisen.</p>

<p>Abstimmung: Erfolgreiche Wahl bei neun Ja-Stimmen, zu einer Enthaltung</p>

<h3>nuess0r (Ruum42)</h3>
<p>nuess0r (Ruum42) ist persönlich nicht anwesend, erhält seine Kandidatur allerdings aufrecht. Er möchte inhaltlich im Bereich des freien Zuangs zu Kulturgütern aktiv sein und in dem Bereich auch vernetzend zu anderen Gruppen arbeiten. Bernd (CCCZH) schlägt vor, dass er seine Vernetzungsarbeit weniger nur kulturell spezifisch macht, sondern z. B. generell Vernetzungsarbeit leistet.</p>

<p>Die Delegierten sind skeptisch: Nur drei Personen befürworten in einer Abstimmung die Wahl von nuess0r in den Vorstand des CCC-CH - hinsichlich seiner Vorstellung der Arbeit darin.</p>

<p>Zwischenzeitlich zieht nuess0r über virtuelle Kanäle - angesichts der Skepsis - seine Kandidatur zurück, mit dem Hinweis, dass er tatsächlich keine Zeit für eine weitergehende Vernetzungsarbeit hat.</p>

<h3>Marc (CCCZH)</h3>
<p>Marc (CCCZH) stellt sich kurz vor: Er war bereits im Vorstand der Piratenpartei Zürich (PPZH). Er kann sich vorstellen, technische Unterstützung für den CCC-CH zu bieten. Ebenfalls kann er helfen, Protokolle zu führen, oder aber Veranstaltungen zu organisieren. Im letzten Bereich ist er für die Piratenpartei Schweiz (PPS) besonders aktiv.</p>

<p>Abstimmung: Erfolgreiche Wahl bei sieben Ja-Stimmen, zu drei Enthaltungen</p>

<h3>draemmli (Hackerspace Eastermundigen)</h3>
<p>draemmli hat seine Stärke in der Webentwicklung - er kann hier den CCC-CH unterstützen.</p>

<p>Abstimmung: Erfolgreiche Wahl bei neun Ja-Stimmen, zu einer Enthaltung</p>

<h3>harlequinn (Chaostreff Basel)</h3>
<p>harlequinn (Chaostreff Basel) stellt sich (humoristisch) als „Quoten-Frau” zur Verfügung. Tatsächlich betont sie, dass sie organisatorische Aufgaben gerne übernehmen kann und auch ansonsten zur Verfügung steht, weitere Aufgaben anzupacken, die sonstigenfalls unerledigt blieben.</p>

<p>Abstimmung: Erfolgreiche Wahl im Konsens</p>

<h2>Wahlannahmeerklärung</h2>
<p>Alle acht gewählten Vorstandsmitglieder bestätigen noch einaml die Wahl anzunehmen: Bernd (CCCZH), hernani (CCCZH), leviathan (CCCZH), Genesis (Chaostreff Basel), Miguel (Chaostreff Basel), Marc (CCCZH), draemmli (Hackerspace Eastermundigen), harlequinn (Chaostreff Basel)</p>

<h2>Mitgliederbeitrag</h2>
<p>Wene (Ruum42) will wissen, ob wir den Mitgliederbeitrag diskutieren.</p>

<p>Wir beschliessen, diese Diskussion auf eine andere Chaosversammlung zu verschieben. Bis dahin würden Vorschläge ausgearbeitet und lokal diskutiert - sowie lokale Positionen dazu entwickelt.</p>

<h2>Bezug zum CCC</h2>
<p>Wene (Ruum42) will noch wissen, ob wir die positive Beziehung zum CCC formal aufgleisen möchten.</p>

<p>Wir kommen im Konsens zum Schluss: Am 29C3 soll über eine Mitgliedschaft des CCC-CH im CCC als virtuellen Erfakreis diskutiert werden.</p>

<h2>Wahl Revisoren: Adi (CCCZH) / Wene (Ruum42)</h2>
<p>Es stellen sich Adi (CCCZH) und Wene (Ruum42) auf, um als Revisoren für den CCC-CH zu fungieren. Die Delegierten sind damit einverstanden, womit beide gewählt sind.</p>

<h2>Daten: CoSin 2013</h2>
<p>Lorenz (Gast) entwickelt zusammen mit den Anwesenden Datumvorschläge für die nächste CoSin-Tagung im Jahr 2013:</p>

<ul>
  <li>14. bis 16. Juni</li>
  <li>28. bis 30. Juni</li>
</ul>

<p>Über die swiss-chaos@ wird das populärere Datum noch ermittelt werden.</p>

<h2>Schluss (16:10)</h2>
<p>Fürs Protokoll</p>

<p>hernani</p>
